:root {
--colorprimario: rgb(14, 221, 49);
--colorfondo:rgba(248, 7, 148, 0.719);
--letratitulo:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color:rgba(240, 10, 240, 0.603)
}
h1, h2 {
    color:black;
    text-align: center;
    font-family:var(--letratitulo);
}
main h2 {
    color: rgb(19, 14, 2);
    font-family:var(--letratitulo);
}
ol {
    
    background-color: #f37208c2;
    border: 2px solid #ee670d;
    border-radius: 16px;
    max-width: 350px;
    margin:20px auto;
    padding: 20px 30px;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #020a02e7;
    text-align: center;
    margin-top: 100px;
    padding: 10px 10px;

}
  p {
    text-align:center;   
    color: rgb(111, 17, 199);

}

.TM { 
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 100px;
}


header {
    background-color:antiquewhite;
    border-radius:  15px;
    border:rgba(95, 235, 95, 0.281) solid ;
   

}

.lista ul {
   display: block;
   justify-content: center;
   gap: 15px;
   list-style: none;

}
.lista li {
    color: hsla(323, 85%, 45%, 0.11);
    margin: 12px 0;
}
.lista a {
    text-decoration: none;
    color:#4113e7;
    font-size: 16px;
    padding: 6px 14px;
    display: inline-block;


}
.lista a:hover {
    cursor: pointer;
    color: #555;
    

}
#tabla {
    border:5px solid;
    margin: 0 auto;
}
#tabla th {
    color:rgb(0, 8, 2);
    border: 5px solid rgb(5, 4, 22) 

}
#tabla td,th { 
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;

}
.boton {/*boton con estilo*/
   transition: all 0.3s ease;
}
.boton:hover {/*boton hover*/
    transform: translateY(-3px);
}

 #paso1 h3,#paso2 h3,#paso3 h3, #paso4 h3,#paso5 h3,#paso6 h3 {
    background-color: rgba(233, 30, 98, 0.596);
    border: 2px solid #181615;
    border-bottom: #fcfcfc;
    border-radius: 16px 16px 0 0;
    max-width: 350px;
    margin: 15px auto 0 auto;
    padding: 15px 20px 5px 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0,0.05);
    text-align: center;
    color: white;
 }
#paso1 p, #paso2 p, #paso3 p, #paso4 p,#paso5 p, #paso6 p{
    background-color: rgba(233, 30, 98, 0.596);
    border:2px solid#141414;
    border-top: none;
    border-radius:0 0 16px 16px;
    max-width: 350px;
    margin: 0 auto 15px auto;
    padding: 5px 20px 15px 20px;
    text-align: center;
    color: #333;
}
   
#imagen {
    display: block;
    margin-left:  auto;
    margin-right: auto;
    float: none;
    position: relative;
    left: 0;
    right: 0;
    transform: translateX(-180px);
    max-width: 250%;
    height: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}
#imagen:hover {
    transform: scale(1.05);
}
iframe{
    display: block;
    margin: 0 auto;
}
#video {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    transform: translateX(-150px);
}
footer{
    background-color: antiquewhite;
    border-radius: 12px;
}
.enlase{
    text-decoration: none;
    color:rgb(59, 59, 95)
}
.enlase:hover {
    color: rgb(47, 130, 103);
}
form{
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    gap:6px;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 12px;
    border-color: #bf4747;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: medium;
}
#galeria-de-imagenes {
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    transform: translateX(-180px);
    justify-items: center;
    align-items: center;
    position: relative;
    
}
#galeria-de-imagenes img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}
/*efectos hover individuales por imagen*/
.img-crecer:hover {
        transform: scale(1.08);
}
.img-rotar:hover {
    transform: rotate(5deg);
}
.img-subir:hover{
    transform: translateY(-15px);
}
.img-crecer-rotar:hover {
    transform: scale(1.1)rotate(-3deg);
}
.img-mover:hover {
    animation: sacudir 0.4s ease;
}
.img-achicar:hover {
    transform: scale(0.95);
}
/*animacion*/
@keyframes sacudir {
0% {transform:translateX(0);}
25% {transform:translateX(-10px);}
50% {transform: translateX(10px);}
75% {transform: translateX(-10px);}
100% {transform: translateX(0);}
}
/*agregue tarjeta*/
.tarjeta {
    background-color: #e9903c3d;
    border: 2px solid #ec1c8f;
    border-radius: 20px;
    padding: 2px 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tarjeta:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
#diseño-de-paso {
    max-width: 350px;
    margin: 0 auto;
}
/*responsive tablet*/
@media (max-width:768px) {
    .TM {
        font-size: 60px;
    }
#galeria-de-imagenes {
    grid-template-columns: repeat(2,1fr);
}
}
/*responsive celular*/
@media (max-width:480px) {
    .lista ul {
        flex-direction:column;
        align-items: center;
    }
    .TM {
        font-size: 40px;
    }
    #galeria-de-imagenes {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }
    form {
        width: 90%;
    }
iframe {
    width: 100%;
    height: 250px;
}
}

