:root {/*lugar donde define variable*/
--colorprimario: rgb(14, 221, 49);/*variables donde guardo color principal */
--colorfondo:rgba(248, 7, 168, 0.884);/*guarda color de fondo de la pagina*/
--letratitulo:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
/*guarda la fuente que se usa para los titulos*/
}

body {
    background-color:var(--colorfondo);/*usando la variable para el color de fondo*/
}
h1, h2 {
    color:black;
    text-align: center;
    font-family:var(--letratitulo);
}
main h2 {
    color: rgb(19, 14, 2);
    font-family:var(--letratitulo);
}
ol {
    
    background-color: #fcfcfc;
    border: 2px solid #ee670d;
    border-radius: 16px;
    max-width: 350px;
    margin:20px auto;
    padding: 20px 30px;
    box-shadow:0px 4px 8px rgb(216, 132, 7);
}

h3 {
    color: #020a02e7;
    text-align: center;
    margin-top: 100px;
    padding: 10px 10px;

}
  p {
    text-align:center;   
    color: rgb(71, 39, 100);

}

.TM { /*clases*/
    font-family: "Manufacturing Consent", system-ui;
    text-align: center;
    font-size: 100px;
}


header {
    background-color:antiquewhite;
    border-radius:  15px;
    border:saddlebrown solid ;
   

}

.lista ul {
    color:hsl(325, 86%, 52%);
    list-style: none;
    border: 5px solid #e7c52e;
    border-radius: 10px;
    margin: 10px; 



}
.lista li {
    color: hsl(22, 85%, 45%);
    margin: 12px 0;
}
.lista a {
    text-decoration: none;
    color:#1f1919;
    font-size: 16px;
    padding: 6px 14px;
    display: inline-block;


}
.lista a:hover {
    cursor: pointer;
    color: #555;
    

}
#tabla {
    border-color: blue;
    border:5px solid;
    margin: 0 auto;

    

}
#tabla th {
    color:rgb(1, 14, 4);
    border: 5px;  

}
#tabla td,th { 
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;

}
.boton {/*boton con estilo*/
    background-color: aquamarine;/*color de fondo*/
    color: #1f1919;/*color de letras*/
    font-size: 15px;/*tamaño de letra*/
    border: medium;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;/*que se vea distinto a pasar el cursor*/
    margin-top: 15px;
    font-weight: 500;
    transition: all 0.3s ease;/*efecto suave al cambiar estilo*/
}
.boton:hover {
    background-color:rgb(12,85,150);
    transform: translateY(-3px);/*sube un poquito el boton*/
}
.boton:active {
    transform: translateY(0);/*baja*/
}
 #Paso1 h3,#Paso2 h3,#Paso3 h3,#Paso4 h3, #Paso4 h3,#Paso5 h3,#Paso6 h3 {
    background-color: aliceblue;
    border:2px solid#f38116;
    border-bottom: #fcfcfc;
    border-radius: 16px 16px 0 0;
    max-width: 350px;
    margin: 15px auto 0 auto;
    padding: 15px 20px 5px 20px;
    box-shadow: 0px -2px 5px rgb(0, 0, 0,0.05);
    text-align: center;
 }
#Paso1 p, #Paso2 p, #Paso3 p, #Paso4 p,#Paso5 p, #Paso6 p{
    background-color: aliceblue;
    border:2px solid#f38116;
    border-top: none;
    border-radius:0 0 16px 16px;
    max-width: 350px;
    margin: 0 auto 15px auto;
    padding: 5px 20px 15px 20px;
    text-align: center;
}
   
#imagen {
    align-items: center;
    margin-left: 300px;
}
iframe{
    display: block;
    margin: 0 auto;
}
footer{
    background-color: antiquewhite;
    border-radius: 12px;
}
.enlase{
    text-decoration: none;
    color:rgb(59, 59, 95)
}
.enlase:hover {
    color: rgb(47, 130, 103);
}
form{
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    gap:6px;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 12px;
    border-color: #bf4747;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: medium;
}
#galeria-de-imagenes {
    display: grid ;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    margin-left: 300px;
    gap: 10px;
    grid-template-rows: 300px 300px; 
    width: 200px;    

}
#galeria-de-imagenes img {
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease;
}
.img-crecer:hover {/*efectos hover individuales por imagen*/
    transform: scale(1.08);
}
.img-rotar:hover {
    transform: rotate(5deg);
}
.img-subir:hover{
    transform: translateY(-15px);
}
.img-crecer-rotar:hover {
    transform: scale(1.1)rotate(-3deg);
}
.img-mover:hover {
    animation: sacudir 0.4s ease;
}
.img-achicar:hover {
    transform: scale(0.95);
}
@keyframes sacudir {
0% {transform:translateX(0);}
25% {transform:translateX(-10px);}
50% {transform: translateX(10px);}
75% {transform: translateX(-10px);}
100% {transform: translateX(0);}
}
.tarjeta {/*agrgegue tarjeta*/
    background-color: #e9903c7e;
    border: 2px solid #ec1c8f;
    border-radius: 20px;
    padding: 2px 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.tarjeta:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
#diseño-de-paso {
    max-width: 350px;
    margin: 0 auto;
}